extends layout

block title
  h1= title
  

block words
  ul
  each val, index in words
    li= index+1 + ': ' + val 

block wheel
  - var img = "../images/huevember-wheel.png"
  img(src=img)    
  p To generate a new Huevember list with new prompt words, refresh this page! <3
